    <table class="table table-hover">
        <tr>
            <td>
                <span id="post{{ post.title }}"><a href="{{ url_for('admin.edit_post', post_id=post.id) }}">{{ post.title }}</a></span>
            </td>
            <td>
                <span id="post{{ post.id }}">{{ post.body }}</span>
            </td>
        </tr>
    </table>

<!-- shouldn't be going to admin page and admin url should exclude other users -->
    <!-- if current_user.username == 'admin': change link, also send most users to post.html -->
    <!-- also edit.html shouldn't include _post.html, should display post to edit properly -->