{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Flaskblog{% else %}Welcome to Flaskblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default position-relative justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flaskblog</a>
            {% if current_user.is_anonymous %}
            <a class="navbar-brand navbar-right" href="{{ url_for('auth.login') }}">{{ 'Login' }}</a>
            {% else %}
            <div class="dropdown btn-group nav navbar-right">
                <button type="button" class="btn btn-secondary btn-lg dropdown-toggle" data-toggle="dropdown" id="profileDropdown" aria-haspopup="true" aria-expanded="false">
                    Hello {{ current_user.username }}
                </button>
                <ul role="menu" class="dropdown-menu">
                    <li><a class="dropdown-item" href="{{ url_for('main.profile', user_id=current_user.id) }}">Profile</a></li>
                    <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 800px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# page specific content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
