{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Flaskblog{% else %}Welcome to Flaskblog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default position-relative justify-content-between">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Flaskblog</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 800px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# page specific content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
