{% extends 'bootstrap/base.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css"
    href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block title %}
    {% if title %}{{ title }} - Dalia's Blog{% else %}Welcome to Dalia's Blog{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default position-relative justify-content-between" style="background-color: pink">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Dalia's Blog</a>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container" style="max-width: 700px;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# page specific content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
